html {
  --slate-800:  #1E293B;
  --slate-700:  #334155;
  --slate-600:  #475569;
  --slate-400:  #94A3B8;
  --slate-200:  #E2E8F0;
  --slate-50:   #F8FAFC;
  --blue-500:   #3B82F6;
  --blue-600:   #2563EB;
  --blue-200:   #BFDBFE;
  --blue-50:    #EFF6FF;
}